<li>
  <div id=<%= "comedy-#{comedy.id}" %> >
    <b><%= link_to comedy.cz_title, admin_comedy_path(comedy) %></b> |
    <%= comedy.publish ? 'Zveřejněno' : 'Nezveřejněno' %> |
    Kategorie: <%= link_to comedy.category.title, admin_category_path(comedy.category) %> |
    <%= link_to 'Smazat článek', admin_comedy_path(comedy), method: :delete, class: 'red-text' %>
  </div>
</li>
