<div class="row">
  <div class="large-12 columns panel">
    <h2>Úpravy</h2>
    <%= simple_form_for(@comedy, url: admin_comedy_path(@comedy), method: :patch) do |f| %>
      <%= f.input :publish %>
      <%= f.association :category, as: :radio_buttons, item_wrapper_class: 'inline' %>
      <%= f.input :cz_title %>
      <%= f.input :en_title %>
      <%= f.input :text, input_html: { class: 'comedy-edit-area' } %>
      <%= f.button :submit, class: 'btn' %>
    <% end %>
  </div>
</div>

<div class="row panel">
  <div class="large-12 columns">
    <h1><%= @comedy.bilingual_title %></h1>
    <%= @comedy.publish ? 'Zveřejněno' : 'Nezveřejněno' %> |
    Kategorie: <%= link_to @comedy.category.title, admin_category_path(@comedy.category) %> |
    <%= link_to 'Smazat komedii', admin_comedy_path(@comedy), method: :delete, class: 'red-text' %>
  </div>

  <div class="large-12 columns">
    <%= image_tag_with_options(@comedy.image)  %>
  </div>

  <div class="large-12 columns">
    <%= raw markdown.render(@comedy.text) %>
  </div>

  <div class="large-12 columns">
    <%= video_iframe(@comedy.video)  %>
  </div>
</div>
