<h1>Nový článek</h1>
<%= simple_form_for @post, url: admin_posts_path do |f| %>
  <%= f.input :title %>
  <%= f.input :text %>
  <%= f.association :category %>
  <%= f.input :publish %>
  <%= f.submit %>
<% end %>
