<div class="row panel">
  <div class="large-12 columns">
    <h2>Úpravy</h2>
    <%= semantic_form_for(@post, url: admin_post_path(@post), method: :patch) do |f| %>
      <%= f.input :publish %>
      <%= f.input :title%>
      <%= f.input :preface, input_html: { class: 'post-preface-area' } %>
      <%= f.input :text, input_html: { class: 'post-text-area' } %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<div class="row panel">
  <div class="large-12 columns">
    <h1><%= @post.title %></h1>
    <%= @post.publish ? 'Zveřejněno' : 'Nezveřejněno' %> |
    <%= link_to 'Smazat článek', admin_post_path(@post), method: :delete, class: 'red-text' %>

    <%= raw markdown.render(@post.preface) %>
    <hr />
    <%= raw markdown.render(@post.text) %>
  </div>
</div>

