<li>
  <div id=<%= "comedy-#{category.id}" %> >
    <b><%= link_to category.title, admin_category_path(category) %>:</b>
    Články: <%= category.comedies.count %> |
    Obrázky: <%= category.images.count %> |
    Videa: <%= category.videos.count %> |
    <%= link_to 'Smazat kategorii', admin_category_path(category), method: :delete, class: 'red-text' %>
  </div>
</li>
