<div class="row">
  <div class="span7">
    <h1>Nový obrázek</h1>
    <%= simple_form_for :image, url: admin_images_path do |f| %>
      <%= f.input :title %>
      <%= f.input :image, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="span4 well">
    <%= link_to 'Nápověda k Markdownu', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' %>
  </div>
</div>
