<div class="row panel">
  <div class="large-12 columns">
    <h2>Upravit obrázek</h2>
    <%= semantic_form_for(@image, url: admin_image_path(@image), method: :patch) do |f| %>
      <%= f.input :title %>
      <%= f.input :comedy, as: :select, collection: Comedy.all %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<div class="row panel">
  <div class="large-12 columns">
    <h1><%= @image.title %></h1>

    <% if @image.comedy %>
      Článek: <%= link_to @image.comedy.cz_title, admin_comedy_path(@image.comedy) %> |
    <% end %>

    <div class="panel">
      <%= @image.image.url %>
    </div>

    <%= link_to 'Smazat obrázek', admin_image_path(@image), method: :delete, class: 'red-text' %>
    <div>
      <%= image_tag @image.image.url %>
    </div>
  </div>
</div>
