<h1>Videa</h1>
<div class="form">
  <%= simple_form_for :video, url: admin_videos_path do |f| %>
    <%= f.input :title %>
    <%= f.simple_fields_for :link_attributes do |ff| %>
      <%= ff.input :href %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
<ul><%= render @videos %></ul>
