<div class="row panel">
  <div class="large-12 columns">
    <h1>Nové video</h1>
    <%= semantic_form_for :video, url: admin_videos_path do |f| %>
      <%= f.input :title %>
      <%= f.input :comedy, as: :select, collection: Comedy.all %>
      <%= f.semantic_fields_for :link_attributes do |ff| %>
        <%= ff.input :href %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
