<div>
  <% @comedies.each do |comedy| %>
    <article>
      <h1><%= link_to comedy.bilingual_title, comedy_path(comedy) %></h1>

      <div class="entry-body">
        <div class="row">
          <div class="col-xl-8">
            <% if comedy.image.present? && comedy.image.image_url.present? %>
              <%= image_tag(comedy.image.image_url, class: 'img-fluid') %>
            <% end %>
          </div>

          <div class="col-xl-4 no-left-gutter">
            Přidáno <%= l(comedy.created_at) %>

            <% comedy.tag_list.each do |tag| %>
              <%= tag_with_link(tag) %>
            <% end %>

            <% if current_user.admin? %>
              <%= link_to 'Upravit', edit_comedy_path(comedy) %>
            <% end %>
          </div>
        </div>

        <p>
          <%= truncate(comedy.text, length: 200) %>
          <strong>
            <%= link_to 'Číst dále', comedy_path(comedy) %>
          </strong>
        </p>
      </div>
    </article>
  <% end %>

  <%= paginate @comedies %>
</div>
