<h1>Nová komedie</h1>

<% if @comedy_form.comedy.errors.present? %>
  <b>Chyby u komedie</b>
  <% @comedy_form.comedy.errors.full_messages.each do |error| %>
    <p class='text-danger'><%= error %></p>
  <% end %>
<% end %>

<% if @comedy_form.image.errors.present? %>
  <b>Chyby u obrazku</b>
  <% @comedy_form.image.errors.full_messages.each do |error| %>
    <p class='text-danger'><%= error %></p>
  <% end %>
<% end %>

<% if @comedy_form.video.errors.present? %>
  <b>Chyby u videa</b>
  <% @comedy_form.video.errors.full_messages.each do |error| %>
    <p class='text-danger'><%= error %></p>
  <% end %>
<% end %>

<% if @comedy_form.youtube_link.errors.present? %>
  <b>Chyby u Youtube linku</b>
  <% @comedy_form.youtube_link.errors.full_messages.each do |error| %>
    <p class='text-danger'><%= error %></p>
  <% end %>
<% end %>

<%= form_for @comedy_form, url: comedies_path do |f| %>
  <h2>Komedie</h2>

  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :cz_title %>
      <%= f.text_field :cz_title, class: 'form-control' %>
    </div>

    <div class="col-sm-6">
      <%= f.label :en_title %>
      <%= f.text_field :en_title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, class: 'form-control' %>

    <small class="form-text text-muted">
      <%= @tags.map(&:name).join ',' %>
    </small>
  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: 'form-control' %>
  </div>

  <hr>
  <h2>Obrazek</h2>

  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :image_title %>
      <%= f.text_field :image_title, class: 'form-control' %>
    </div>

    <div class="col-sm-6">
      <%= f.label :uploaded_image %>
      <%= f.file_field :uploaded_image, class: 'form-control' %>
    </div>
  </div>

  <hr>
  <h2>Video</h2>

  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :video_title %>
      <%= f.text_field :video_title, class: 'form-control' %>
    </div>

    <div class="col-sm-6">
      <%= f.label :video_link %>
      <%= f.text_field :video_link, class: 'form-control' %>
    </div>
  </div>

  <%= f.button "Vytvořit" %>
<% end %>
