<article>
  <h2><strong><%= link_to @comedy.bilingual_title, comedy_path(@comedy) %></strong></h2>

  <small>
    <%= l(@comedy.created_at) %> zařadil administrator

    <% @comedy.tag_list.each do |tag| %>
      <span class="label label-pill label-default"><%= tag %></span>
    <% end %>
  </small>

  <div class="entry-body">
    <%= link_to comedy_path(@comedy) do %>
      <%= image_tag @comedy.image.image_url, class: 'img-fluid' %>
    <% end %>

    <p><%= raw markdown.render(@comedy.text) %></p>

    <h3><strong>Trailer</strong></h3>
    <% if @comedy.video %>
      <%= video_iframe(@comedy.video)  %>
    <% end %>

    <div>
      <% if @next_comedy %>
        <%= link_to(" ←   #{@next_comedy.bilingual_title}", comedy_path(@next_comedy), class: 'pull-left') %>
      <% end %>

      <% if @previous_comedy %>
        <%= link_to(" #{@previous_comedy.bilingual_title} → ", comedy_path(@previous_comedy), class: 'pull-right') %>
      <% end %>
    </div>
  </div>
</article>
