<% meta title: page_title(@comedy.bilingual_title), keywords: merge_to_default_keywords(@comedy.tag_list) %>

<article>
  <div class="head">
    <h2><%= @comedy.bilingual_title %></h2>
    <div class="small"><%= comedy_meta(@comedy) %></div>
  </div>

  <%= link_to comedy_path(@comedy) do %>
    <%= image_tag_with_options(@comedy.image) %>
  <% end %>

  <p><%= raw markdown.render(@comedy.text) %></p>

  <h3>Trailer</h3>
  <%= video_iframe(@comedy.video)  %>


  <div class="comedy-tag_list">
    Štítky: <%= comedies_tags_as_links(@comedy) %>
  </div>

  <hr />

  <div class="next-previous">
    <%= next_comedy_link(@next_comedy) if @next_comedy %>
    <%= previous_comedy_link(@previous_comedy) if @previous_comedy%>
  </div>
</article>
