<article>
  <h1><%= @comedy.bilingual_title %></h1>

  <div class="entry-body">
    <div class="row">
      <div class="col-xl-8">
          <% require 'pry'; binding.pry %>
        <% if @comedy.image.present? && @comedy.image.image_url.present? %>
          <%= image_tag @comedy.image.image_url, class: 'img-fluid' %>
        <% end %>
      </div>

      <div class="col-xl-4 no-left-gutter">
        Přidáno <%= l(@comedy.created_at) %>

        <% @comedy.tag_list.each do |tag| %>
          <%= tag_with_link(tag) %>
        <% end %>

        <% if current_user.admin? %>
          <%= link_to 'Upravit', edit_comedy_path(@comedy) %>
        <% end %>
      </div>
    </div>

    <p><%= raw markdown.render(@comedy.text) %></p>

    <h2>Trailer</h2>
    <div class="entry-body embed-responsive embed-responsive-16by9">
      <%= video_iframe(@comedy.video)  %>
    </div>
  </div>


  <div>
    <% if @next_comedy %>
      <%= link_to(" ←   #{@next_comedy.bilingual_title}", comedy_path(@next_comedy), class: 'pull-left') %>
    <% end %>

    <% if @previous_comedy %>
      <%= link_to(" #{@previous_comedy.bilingual_title} → ", comedy_path(@previous_comedy), class: 'pull-right') %>
    <% end %>
  </div>
</article>
