<div id="content" class="narrowcolumn">
  <div>
    <h2>
      <%= link_to @comedy.bilingual_title, comedy_path(@comedy) %>
    </h2>

    <small>
      <%= l(@comedy.created_at) %> zařadil administrator
    </small>

    <div class="entry">
      <% if @comedy.image %>
        <%= link_to comedy_path(@comedy) do %>
          <%= image_tag "comedy_posters/#{@comedy.image.image_file_name}" %>
        <% end %>
      <% end %>

      <p><%= raw markdown.render(@comedy.text) %></p>

      <h3>Trailer</h3>
      <% if @comedy.video %>
        <%= video_iframe(@comedy.video)  %>
      <% end %>

      <hr />

      <div class="next-previous">
        <%= next_comedy_link(@next_comedy) if @next_comedy %>
        <%= previous_comedy_link(@previous_comedy) if @previous_comedy %>
      </div>
    </div>
  </div>
</div>
