<article>
  <h2><strong><%= link_to @comedy.bilingual_title, comedy_path(@comedy) %></strong></h2>

  <!-- <small> -->
  <!--   <%= l(@comedy.created_at) %> zařadil administrator -->
  <!--  -->
  <!--   <% @comedy.tag_list.each do |tag| %> -->
  <!--     <span class="label label&#45;pill label&#45;default"><%= tag %></span> -->
  <!--   <% end %> -->
  <!-- </small> -->

  <div class="entry-body">
    <div class="row">
      <div class="col-xl-8">
        <%= image_tag @comedy.image.image_url, class: 'img-fluid' %>
      </div>

      <div class="col-xl-4 no-left-gutter hidden-lg-down">
        <br>
          Přidáno <%= l(@comedy.created_at) %>
        <br>
          4/5
        <br>
        <a href="#">4 Komentáře</a>

        <h3>Tagy</h3>
        <ul>
          <% @comedy.tag_list.each do |tag| %>
            <li>
            
            <span class="label label-pill label-default"><%= tag %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <p><%= raw markdown.render(@comedy.text) %></p>

    <h3><strong>Trailer</strong></h3>
    <% if @comedy.video %>
      <%= video_iframe(@comedy.video)  %>
    <% end %>

    <div>
      <% if @next_comedy %>
        <%= link_to(" ←   #{@next_comedy.bilingual_title}", comedy_path(@next_comedy), class: 'pull-left') %>
      <% end %>

      <% if @previous_comedy %>
        <%= link_to(" #{@previous_comedy.bilingual_title} → ", comedy_path(@previous_comedy), class: 'pull-right') %>
      <% end %>
    </div>
  </div>
</article>
