<article>
  <h2><strong><%= @comedy.bilingual_title %></strong></h2>

  <small>
    <%= l(@comedy.created_at) %>
    |
    <% @comedy.tags.each do |tag| %>
      <span class="label label-pill label-default"><%= tag.name %></span>
    <% end %>
  </small>

  <div class="entry-body">
    <%= image_tag @comedy.image.image_url, class: 'img-fluid' %>

    <p><%= raw markdown.render(@comedy.text) %></p>

    <h3><strong>Trailer</strong></h3>
    <%= video_iframe(@comedy.video) %>
  </div>

  <div>
    <% if @next_comedy %>
      <%= link_to(" ←   #{@next_comedy.bilingual_title}", comedy_path(@next_comedy), class: 'pull-left') %>
    <% end %>

    <% if @previous_comedy %>
      <%= link_to(" #{@previous_comedy.bilingual_title} → ", comedy_path(@previous_comedy), class: 'pull-right') %>
    <% end %>
  </div>
</article>
