<div id="sidebar" class='hidden-sm-down'>
  <div id="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo2.png', class: 'img-fluid' %>
    <% end %>
  </div>

  <h1><strong>Menu</strong></h1>
  <ul class="list-unstyled menu-list">
    <li><%= link_to 'Domů', root_path %></li>
    <li><%= link_to 'Abecední seznam Komedií', list_comedies_path %></li>
    <li><%= link_to 'Plakáty', images_path %></li>
    <li><%= link_to 'Videa', videos_path %></li>
  </ul>

  <h1><strong>Náhodné komedie</strong></h1>
  <ul class="list-unstyled menu-list">
    <% @random_comedies.each do |comedy| %>
      <li><%= link_to comedy.bilingual_title, comedy_path(comedy) %></li>
    <% end %>
  </ul>
</div>
