<!DOCTYPE html>
<html>
  <head>
    <title>ImagineCms</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <%= render 'layouts/administration/header' %>

    <% if flash.any? %>
      <p class='notice'><%= notice %></p>
      <p class='alert'><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= render 'layouts/administration/footer' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
