<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta name='description' content='Pravidelně aktualizovaný seznam českých o zahraničních komedií.'>
    <title>Výběr z těch nejbláznivějších a nejzábavnějších komedií.</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="large-8 columns" role='content'>
        <%= yield %>
      </div>
      <%= render 'layouts/sidebar' %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
